#include <windows.h>
#include <commctrl.h>
#pragma code_page(65001)
101 DIALOGEX 0,0,280,155
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "千千静听 - 软件更新"
FONT 9,"宋体"
BEGIN
 LTEXT "当前版本号：",-1,12,12,70,12
 LTEXT "",1001,84,12,184,12
 LTEXT "最新版本号：",-1,12,30,70,12
 LTEXT "正在检查…",1002,84,30,184,12
 LTEXT "更新源：",-1,12,52,65,12
 COMBOBOX 1003,84,48,120,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 CONTROL "GitHub 发布页",1004,"STATIC",WS_TABSTOP | SS_NOTIFY,12,70,120,14
 CONTROL "Gitee 发布页",1005,"STATIC",WS_TABSTOP | SS_NOTIFY,148,70,120,14
 LTEXT "",1006,12,89,256,22
 CONTROL "",1007,"msctls_progress32",PBS_SMOOTH,12,114,256,6
 DEFPUSHBUTTON "立即更新",1008,118,130,72,18
 PUSHBUTTON "关闭",IDCANCEL,196,130,72,18
END
